{% set page_title = playlist_name + ' - Local playlist' %}
{% extends "base.html" %}
{% import "common_elements.html" as common_elements %}
{% block style %}
    main > *{
        width: 800px;
        max-width: 100%;
        margin: auto;
    }

    .playlist-metadata{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;


        margin: 15px auto;
        padding: 7px;
        background-color: var(--interface-color);
    }
        .playlist-title{
			overflow: hidden;
			<!-- flex-basis: 100%; -->
        }
        #reorder-options{
            justify-self: end;
        }
		#playlist-reorder-button {
			font-size: 20px;
			<!-- right: 20px; -->
			position: relative;
			float: right;
		}

    #video-remove-container{
        display: flex;
		justify-content: right;
        margin: 0px auto 15px auto;
    }

	.input-wrapper {
		position: relative;
		display: inline-block;
	}
	.input-wrapper button {
		position: absolute;
		top: -3px;
		right: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;
		font-size: 20px;
	}

    #results{
        display: grid;
        grid-auto-rows: 0fr;
        grid-row-gap: 10px;
    }

	.sortable-item {
		cursor: grab;
	}
	.sortable-item:hover {
		transform: scale(1.01);
	}
	.sortable-item.dragging {
		opacity: 0.7;
	}
	.sortable-item.over {
		<!-- border: 2px ridge #ff8c42; -->
	}

{% endblock style %}

{% block main %}

    <div class="playlist-metadata">
        <h2 class="playlist-title" contenteditable="true">{{ playlist_name }}</h2>
        <div id="reorder-options">
            <form id="playlist-reorder" method="post" action="/youtube.com/playlists/{{ playlist_name }}/edit/">
				<input type="hidden" value="{{ num_videos }}" name="num_videos" />
                <button type="submit" id="playlist-reorder-button" name="action" value="reorder">Reorder</button>
            </form>
        </div>
    </div>

	<form id="playlist-rename" action="/youtube.com/playlists/{{ playlist_name }}/edit/" method="post" target="_self">
	</form>

	<div id="video-remove-container" style="">
		<div class="input-wrapper">
			<input id='amount-items-per-page' type="text" placeholder="items per page...">
			<button onclick="updateAmountItemsPerPage(event);">&#128260;</button>
		</div>
	</div>

	<div id="results" class="sortable-list">
		{% for video_info in videos %}
			{{ common_elements.item(video_info, draggable=true) }}
		{% endfor %}
	</div>

    <nav class="page-button-row">
        {{ common_elements.page_buttons(num_pages, '/https://www.youtube.com/playlists/' + playlist_name + '/edit', parameters_dictionary) }}
    </nav>

   <script>
		function updateAmountItemsPerPage(event){
			const urlParams = new URLSearchParams(window.location.search);
			let amount = document.getElementById('amount-items-per-page').value;
			if (typeof amount == "string" && !isNaN(amount) && !isNaN(parseFloat(amount))) {
				if (Number(amount) == 0) return;
				urlParams.set('amount', amount);
				window.location.search = urlParams;
			}
		}

		var playlistReorderForm = document.getElementById('playlist-reorder');
		function sendData(event){
			var clicked_button = document.activeElement;
			if(clicked_button === null || clicked_button.getAttribute('type') !== 'submit' || clicked_button.parentElement != event.target){
				console.log('ERROR: clicked_button not valid');
				return;
			};
			event.preventDefault();
			var XHR = new XMLHttpRequest();
			var FD = new FormData(playlistReorderForm);

			var results = document.getElementsByName("video_info_list");
			for (let i = 0; i < results.length; i++) {
				FD.append('video_info_list', results[i].value);
			};

			FD.append('action', 'reorder');
			FD.append('page', new URLSearchParams(window.location.search).get('page') || '1');
			if (new URLSearchParams(window.location.search).get('amount')) {
				FD.append('amount', new URLSearchParams(window.location.search).get('amount'));
			}
			XHR.addEventListener('load', function(event){
				if(event.target.status == 204){
					displayMessage('Playlist reordered with success');
				} else {displayMessage('Error! ' + event.target.responseText, true);}
			});
			XHR.open('POST', playlistReorderForm.getAttribute('action'));
			XHR.send(FD);
		};
		playlistReorderForm.addEventListener('submit', sendData);
	</script>

    <script>
        const list = document.querySelector('.sortable-list');
        let draggingItem = null;
        list.addEventListener('dragstart', (e) => {
            draggingItem = e.target;
            e.target.classList.add('dragging');
        });
        list.addEventListener('dragend', (e) => {
            e.target.classList.remove('dragging');
            document.querySelectorAll('.sortable-item')
                .forEach(item => item.classList.remove('over'));
            draggingItem = null;
        });
        list.addEventListener('dragover', (e) => {
            e.preventDefault();
            const draggingOverItem = getDragAfterElement(list, e.clientY);
            document.querySelectorAll('.sortable-item').forEach
                (item => item.classList.remove('over'));
            if (draggingOverItem) {
                draggingOverItem.classList.add('over');
                list.insertBefore(draggingItem, draggingOverItem);
            } else {
                list.appendChild(draggingItem);
            }
        });
        function getDragAfterElement(container, y) {
            const draggableElements = [...container.querySelectorAll
                ('.sortable-item:not(.dragging)')];
            return draggableElements.reduce((closest, child) => {
                const box = child.getBoundingClientRect();
                const offset = y - box.top - box.height / 2;
                if (offset < 0 && offset > closest.offset) {
                    return { offset: offset, element: child };
                } else {
                    return closest;
                }
            }, { offset: Number.NEGATIVE_INFINITY }).element;
        }
    </script>

	<script>
		function changeURL(original_p_name, new_p_name) {
			var editUrl = window.location.pathname;
			<!-- return editUrl.replace("/"+original_p_name+"/", "/"+new_p_name+"/"); -->
			return editUrl.replace("/"+original_p_name+"/edit", "/");
		}

		<!-- const original_playlist_name = JSON.parse('{{ playlist_name | tojson }}'); -->
		const original_playlist_name = document.getElementsByClassName("playlist-title")[0].innerHTML;
		var playlist_new_name = ''
		var playlistRenameForm = document.getElementById('playlist-rename');
		let shouldFireChange = false;
		const playlist_title = document.getElementsByClassName("playlist-title")[0];
		if(playlist_title) {
			playlist_title.addEventListener("input", function() {shouldFireChange = true;}, { once: false });
			playlist_title.addEventListener("focusout", function() {
				if(shouldFireChange) {
					shouldFireChange = false;

					if(this.getAttribute("contenteditable") === 'true') {
						<!-- console.log(this.getAttribute("contenteditable")); -->
					} else if(this.getAttribute("contenteditable") === 'false') {
						<!-- console.log(this.getAttribute("contenteditable")); -->
					}
					<!-- this.setAttribute("contenteditable", false); -->

					playlist_new_name = this.innerHTML;
					<!-- console.log(playlist_new_name) -->

					playlist_new_name = playlist_new_name
						.replace(/&amp;/g, '&')
						.replace(/&lt;/g, '<')
						.replace(/&gt;/g, '>')
						.replace(/&quot;/g, '"')
						.replace(/&#39;/g, "'")
						.replace(/&#039;/g, "'")
						.replace(/&ndash;/g, "-")
						<!-- .replace(/#/g, "") -->
						<!-- .replace(/"/g, "") -->
						<!-- .replace(/'/g, "") -->
						.replace(/<br>/g, "")
						.replace(/&nbsp;/g, "")
						.replace(/%20/g, "")
						.trim();

					if(original_playlist_name === "" || playlist_new_name === "") {
						displayMessage('Error: No playlist available', true);
						return;
					}

					if(original_playlist_name === playlist_new_name) {
						this.innerHTML = original_playlist_name;
						return;
					}

					var XHR = new XMLHttpRequest();
					var FD = new FormData();

					FD.set('action', 'rename');
					FD.set('playlist_new_name', playlist_new_name);

					XHR.addEventListener('load', function(event){
						if(event.target.status == 204){
							displayMessage('Playlist "' + original_playlist_name + '"' + 'renamed to"' + FD.get('playlist_new_name') + '"');
							setTimeout(function(){window.location.pathname = changeURL(original_playlist_name, playlist_new_name);}, 2000);
						} else {
							displayMessage(event.target.status.toString() + ' ' +  'Error renamig playlist: ' + event.target.responseText, true);
							document.getElementsByClassName("playlist-title")[0].innerHTML = original_playlist_name;
						}
					});

					XHR.addEventListener('error', function(event){
						if(event.target.status == 0){
							displayMessage('XHR failed: Check that XHR requests are allowed', true);
						} else {
							displayMessage('XHR failed: Unknown error', true);
						}
					});

					XHR.open('POST', playlistRenameForm.getAttribute('action'));
					XHR.send(FD);
				}}
			);
		}
	</script>

{% endblock main %}
