{% set page_title = title|string + ' - Page ' + parameters_dictionary.get('page', '1') %}
{% extends "base.html" %}
{% import "common_elements.html" as common_elements %}
{% block style %}
    main > *{
        width: 800px;
		max-width: 100%;
		margin: auto;
    }

    .playlist-metadata{
        display:grid;
        grid-template-columns: 0fr 1fr;
        grid-template-areas:
            "thumbnail title"
            "thumbnail author"
            "thumbnail stats"
            "thumbnail description";
    }
        .playlist-thumbnail{
            grid-area: thumbnail;
            width:250px;
            margin-right: 10px;
        }
        .playlist-title{ grid-area: title }
        .playlist-author{ grid-area: author }
        .playlist-stats{ grid-area: stats }
        .playlist-description{
            grid-area: description;
            min-width:0px;
            white-space: pre-line;
        }

    #results{
        margin-top:10px;

        display: grid;
        grid-auto-rows: 0fr;
        grid-row-gap: 10px;

    }
        .thumbnail-box{     /* overides rule in shared.css */
            height: 94px !important; /* old value was 90 */
            width: 120px !important;
        }
    @media (max-width:600px){
        .playlist-metadata{
            grid-template-columns: 1fr;
            grid-template-areas:
                "thumbnail"
                "title"
                "author"
                "stats"
                "description";
            justify-items: center;
        }
    }

    .playlist-metadata1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 15px auto 7px auto;
		/* margin: 10px auto; */
        padding: 7px;
        background-color: var(--interface-color);
    }
        .playlist-title{
		font-size: 20px;
        }

	#playlist-browser-import-button, #submit_form_checkbox_label, #playlist-export-button {
		font-size: 18px;
	}

	 #submit_form_checkbox{
		margin-top: 7px;
	}

	{% if display_as_grid %}
		.playlist-metadata {
			/*<!-- justify-content: space-between; --> */
			margin-bottom: auto;
			padding-bottom: 11px;
			/*<!-- background-color: var(--interface-color); --> */
		}
		.item-grid{
			width: auto;
			padding-left: 50px;
			width: 90%;
		}
		.item-box {
			width: 370px !important;
			margin-bottom: 15px;
			padding-left: 10px;
		}
	{% endif %}

    details > summary{
        background-color: var(--interface-color);
        border-style: outset;
        border-width: 2px;
        font-weight: bold;
        padding: 4px;
		font-size: 20px;
		margin: 0px 0px 8px 0px;
    }
    details > summary:hover{
        text-decoration: underline;
    }
{% endblock style %}

{% block main %}
    <div class="playlist-metadata1">
		<!-- <h2 class="playlist-title">{{ title }}</h2>		 -->

        <div id="export-options">
            <form id="playlist-export" method="post" action="/youtube.com/playlists/{{ title }}">
                <select id="export-type" name="export_format">
                    <option value="json">JSON</option>
                    <option value="ids">Video id list (txt)</option>
                    <option value="urls">Video url list (txt)</option>
					<option value="key_value_dict">Video dict (txt)</option>
                </select>
				<input type="hidden" value="{{  parameters_dictionary.get('list', '') }}" name="playlist_id" />
				<input type="hidden" value="true" name="export_youtube_playlist" />
                <button type="submit" id="playlist-export-button" name="action" value="export">Export</button>
            </form>
        </div>

		<form id="youtube-playlist-edit" action="/youtube.com/edit_playlist" method="post" target="_self" autocomplete="off">
			<input type="hidden" value="{{ title }}" name="playlist_name" />
			<input type="hidden" value="https://www.youtube.com/playlist?list={{  parameters_dictionary.get('list', '') }}" name="playlist_url" />
			<input type="hidden" value="true" name="bookmark_playlist" />
			<input name="action" type="checkbox" id="submit_form_checkbox"/>
			<label for="action" id="submit_form_checkbox_label">Bookmark</label><br>
		</form>
		<form id="playlist-edit" action="/youtube.com/edit_playlist" method="post" target="_self" autocomplete="off">
			<input type="hidden" value="{{ title }}" name="playlist_name" />
			<input type="hidden" value="{{  parameters_dictionary.get('list', '') }}" name="playlist_id" />
			<input type="hidden" value="true" name="import_playlist" />
			{% for info in video_list %}
				<input type="hidden" value="{{ info['video_info'] }}" name="video_info_list" />
			{% endfor %}
			<button type="submit" id="playlist-browser-import-button" name="action" value="add">Import playlist</button>
		</form>
    </div>

	<details class="related-videos-outer" {{'open' if settings.related_videos_mode == 1 else ''}}>
		<summary>{{ title }} (more info)</summary>
		<div class="playlist-metadata">
			<!-- <img class="playlist-thumbnail" src="{{ thumbnail }}"> -->
			<h3 class="playlist-title"><li>Playlist name: {{ title }}</li></h2>
			<a class="playlist-author" href="{{ author_url }}"><li>Author: {{ author }}</li></a>
			<div class="playlist-stats">
				<div><li>Video count: {{ video_count|commatize }} (videos)</li></div>
				<div><li>View count: {{ view_count|commatize }} (views)</li></div>
				<div><li>Last updated: {{ time_published }}</li></div>
			</div>
			<div class="playlist-description"><li>Description: {{ common_elements.text_runs(description) }}</li></div>
		</div>
	</details>

	{% if display_as_grid %}
		<div class="{{ 'item-grid' }}">
			{% for video_info in video_list %}
				{{ common_elements.item(video_info) }}
			{% endfor %}
		</div>
		{% else %}
		<div id="results">
			{% for info in video_list %}
				{{ common_elements.item(info) }}
			{% endfor %}
		</div>
	{% endif %}
    <nav class="page-button-row">
        {{ common_elements.page_buttons(num_pages, '/https://www.youtube.com/playlist', parameters_dictionary) }}
    </nav>

	<script>
		document.getElementById("submit_form_checkbox").checked={{ is_bookmarked|safe }};

		function validate() {
			const checkbox = document.getElementById('submit_form_checkbox')
			checkbox.addEventListener('change', (event) => {
				if (event.currentTarget.checked === true) {
					checkbox.value = 'add';
					<!-- require to check if want to send value -->
					checkbox.checked = true;
					checkbox.form.submit();
					checkbox.checked = true;
				} else if (event.currentTarget.checked === false) {
					checkbox.value = 'remove';
					<!-- require to check if want to send value -->
					checkbox.checked = true;
					checkbox.form.submit();
					checkbox.checked = false;
				}
			})
		}

		validate()
	</script>
{% endblock main %}

